In [5]:
# Importing the libraries
import numpy as np

import pandas as pd

In [6]:
data=[['nan',8,9,50000],['nan',8,6,45000],['five',6,7,60000],['two',10,10,65000],['seven',9,6,70000],['three',7,10,62000],['ten','nan',7,72000],['eleven',7,8,80000]]



dataset=pd.DataFrame(data,columns=['experience','test_score','interview_score','salary'])

In [7]:
dataset

  experience test_score  interview_score  salary
0        nan          8                9   50000
1        nan          8                6   45000
2       five          6                7   60000
3        two         10               10   65000
4      seven          9                6   70000
5      three          7               10   62000
6        ten        nan                7   72000
7     eleven          7                8   80000

In [8]:
dataset.to_csv('hiring.csv')